body{
    background-color: black;
    margin: 0%;
    height: 100vh;
    overflow: hidden;
}
.moon
{
    position: absolute;
    top: 100px;
    left: 70%;    
    width: 120px;
    height: 100px;
    background-color:rgb(237,231,231);
    border-radius:50%;
    box-shadow: 0 0 40px 15px     rgb(139,139, 139);
    animation-name: shadow-ani;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.sun
{
    position: inherit;
    top: 100px;
    left: 70%;    
    width: 120px;
    height: 100px;
    background-color:orange;
    border-radius:50%;
    box-shadow: 0 0 40px 15px   red;
} 
@keyframes shadow-ani {
    from{ box-shadow: 0 0 15px 9px rgb(237,231,231);}
    to{box-shadow: 0 0 60px 9px rgb(237,231,231);}
}
